@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Shalimar" ;
}
body{
    text-align: center;
     background-color: #ECE8B8; 
}
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0 100px;
    width: 100%;
}
nav .logo{
    width: 20%;
}
nav  img{
    width: 100%;
    display: flex;
    align-items: center;
    
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #021d03;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}
nav ul li a:hover,nav ul li a.active{
    color: red;
}
nav .menu-btn i{
    color: gold;
    font-size: 22px;
    cursor: pointer;
    display: none;
    

}
#click{
    display: none;
}
.lore{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lore h3{
    font-size: 50px;
    color: red;
    margin-top: 20px;
}
.lore p{
    font-size: 40px;
    font-weight: 600;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center img{
    opacity: 0.2;
}
@media (max-width: 940px) {
#click:checked ~  .menu-btn i:before{
    content: "\f00d";
    
}
nav .logo {
    width: 70%;
}
nav  img{
    width: 50%;
    display: flex;
    align-items: left;
    position: absolute;
    left: -10%;
    top: 1%;
}
nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #ECE8B8;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
}
#click:checked ~ ul{
    left: 0%;
}
nav ul li{
    margin: 40px 0;
}
nav ul li a{
    font-size: 20px;
}
nav .menu-btn i{
    display: block;
}
.lore{
    width: 80%;

}
.lore p{
    font-size: 25px; 
}
}