@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family:"Shalimar" ;

}
body{
    background-color: #5c4;
    color: #021d03;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0 100px;
    width: 100%;
}
nav .logo{
    width: 20%;
}
nav  img{
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: gold;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}
nav ul li a:hover,nav ul li a.active{
    color: red;
}
nav .menu-btn i{
    color: gold;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

.section-one{
    text-align: center;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-one h1{
    font-size: 60px;
}
.section-one h4{
    font-size: 25px;
}

.lore{
    width: 50%;
    text-align: center;
    margin: auto;
}
.lore h3{
    font-size: 20px;
    color: red;
}
.lore p{
    font-size: 40px;
    font-weight: 600;
}
@media (max-width: 940px) {
    #click:checked ~  .menu-btn i:before{
        content: "\f00d";
    }
    nav .logo img{
        width: 100%;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgb(28, 87, 20);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav .menu-btn i{
        display: block;
    }
    .lore p{
        font-size: 20px;
        
    }
}